# {{ ansible_managed }}

[Unit]
Description=Signal Proxy

[Service]
RemainAfterExit=yes
User={{ signal.user }}
Group={{ signal.user }}
WorkingDirectory=/home/{{ signal.user }}/{{ project_dir }}/
ExecStart=docker-compose up -d
ExecReload=docker-compose restart
ExecStop=docker-compose stop
Restart=always

[Install]
WantedBy=multi-user.target
